.sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../../Images/mike-von-3qP0qqWRRaQ-unsplash.jpg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

.sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../../Images/mike-von-3qP0qqWRRaQ-unsplash.jpg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

.sm-banner .banner-box2 {
  background-image: url("../../Images/piotr-szulawski-XjR-Y8PKeww-unsplash.jpg");
}

.sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
.sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

.sm-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}
