.register-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../Images/pexels-edgars-kisuro-1488463.jpg") center;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.register-wrapper {
  width: 40%;
  padding: 20px;
  background-color: white;
}

.register-title {
  font-size: 24px;
  font-weight: 300;
}

.register-form {
  display: flex;
  flex-wrap: wrap;
}

.register-container input {
  flex: 1;
  min-width: 40%;
  margin: 20px 10px 0px 0px;
  padding: 10px;
}

.register-agreement {
  font-size: 12px;
  margin: 20px 0px;
}

.register-button {
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
}
