.product1 {
  text-align: center;
}

.product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
  height: 65%;
}

.product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  /* height: 100%; */
  transition: 0.2s ease;
  position: relative;
}

.product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.pro img {
  width: 100%;
  border-radius: 20px;
  background-color: #96ac82;
  height: 60%;
  object-fit: contain;
}

.pro .des {
  text-align: start;
  padding: 10px 0;
}

.pro .des span {
  color: #606063;
  font-size: 12px;
}

.pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.icon {
  color: rgba(243, 181, 25);
  font-size: 12px;
}

.pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

.pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;

  margin-left: 50px;
}

.badge {
  bottom: 50px;
  right: 30px;
  /* margin-bottom: 40px; */
}
