.newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #5f5294;
  background-image: radial-gradient(
      at 0% 0%,
      rgb(48, 42, 80) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 100%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
.newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #97a2b1;
}

.newsletter p span {
  color: #f5b41d;
}

.newsletter .form {
  display: flex;
  width: 40%;
}

.newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.newsletter button {
  background-color: #f5b41d;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
