.login-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../Images/pexels-shattha-pilabut-135620.jpg") center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.login-wrapper {
  width: 25%;
  padding: 20px;
  background-color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-title {
  font-size: 24px;
  font-weight: 300;
}

.login-container input {
  flex: 1;
  min-width: 40%;
  margin: 10px 0px;
  padding: 10px;
}

.login-container button {
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-container a {
  margin: 5px 0px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
