.product-wrapper {
  padding: 50px;
  display: flex;
}

.product-image_container {
  flex: 1;
}

.product-image {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.product-info_container {
  flex: 1;
  padding: 0px 50px;
}

.product-title {
  font-weight: 200;
}

.product-desc {
  padding: 20px 0px;
}

.product-price {
  font-weight: 100%;
}

.product-filter_container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 30px 0px;
}

.product-filter {
  display: flex;
  align-items: center;
}

.product-filter_title {
  font-size: 20px;
  font-weight: 200;
}

.product-filter_color {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  margin: 0px 5px;
  cursor: pointer;
}

.product-filter_size {
  margin-left: 10px;
  padding: 5px;
}

.product-add_container {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.product-amount_container {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.product-amount_container span {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid teal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.product-amount_button {
  padding: 15px;
  border: 2px solid teal;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
}

.product-amount_button:hover {
  background-color: #f8f4f4;
}
