#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../../Images/vladimir-fedotov-10my-P4oSs8-unsplash.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: #ef5461;
  font-weight: 900;
  font-size: 15px;
}

#banner3 .banner-box2 {
  background-image: url("../../Images/vladimir-yelizarov-C43tCJffOh4-unsplash.jpg");
}

#banner3 .banner-box3 {
  background-image: url("../../Images/joecalih-vrPl7G5x9AM-unsplash.jpg");
}
